# coding: utf-8
from datetime import datetime

DB_ENGINE = 'mysql+mysqldb://root:root@localhost/pokemon'
ENCRYPT_PATH = './pokecrypt-pgoapi/libencrypt-linux-x86-64.so'

AREA_NAME = u'Wrocław'
LANGUAGE = 'EN'  # ISO 639-1 codes EN, DE, FR, and ZH currently supported.
MAP_START = (12.3456, 34.5678)
MAP_END = (13.4567, 35.6789)
#GRID = (2, 2)  # row, column
DISABLE_WORKERS = []
SCAN_DELAY = 10  # seconds
PROXIES = None  # Insert dictionary with 'http' and 'https' keys to enable

MAX_CYCLES_TILL_QUIT = 1

SLEEP = 0
MAX_TIME_AWAKE = 900 # seconds
MIN_TIME_ASLEEP = 900 # seconds

ENCOUNTER = 0
ENCOUNTER_DELAY = 1 # seconds


MIN_SCAN_DELAY = 20  # seconds
MAX_SPEED_KMH = 25
FREQUENCY_OF_POINT_RESCAN_SECS = 450
ERROR_PERCENTAGE = 20

SCAN_RADIUS = 70  # metres

ACCOUNTS = [
    ('ash_ketchum', 'pik4chu', 'ptc'),
    ('ziemniak_kalafior', 'ogorek', 'google')
]
SUB_ACCOUNTS = [
    ('noideawhattoputhere', 's3cr3t', 'ptc'),
    ('whatever', 'mammoth', 'google')
]
CAPTCHA_ACCOUNTS = [
]

TRASH_IDS = [13, 16, 19, 21, 41, 96]
STAGE2 = [94, 139, 141, 149]

REPORT_SINCE = datetime(2016, 7, 29)
GOOGLE_MAPS_KEY = 's3cr3t'
MAP_PROVIDER_URL = '//{s}.tile.osm.org/{z}/{x}/{y}.png'
MAP_PROVIDER_ATTRIBUTION = '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'

KNOWN_NEST_MIGRATIONS = [ 0, 1474588800, 1475798400, 1477008000, 1478217600, 1479427200, 1480636800, 1481846400 ]
