import time
import db

if __name__ == '__main__':

    session = db.Session()
    
    # change the last 4 variables here to actual values
    result = db.get_timings_between_lat_lon(session, LAT_1, LAT_2, LON_1, LON_2)
    session.close()

    for i,val in enumerate(result):
        print val
        extractedTime = val[2]
        print time.strftime('%M', time.localtime(extractedTime))


